@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33.3 100% 96.5%;
    --foreground: 0 0% 3.9%;
    --card: 327.3 73.3% 97.1%;
    --card-foreground: 0 0% 3.9%;
    --popover: 33.3 100% 96.5%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 243.8 47.1% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 327.3 73.3% 97.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 242.2 47.4% 34.3%;
    --accent: 325.7 77.8% 94.7%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 325.9 84.6% 89.8%;
    --input:229.7 93.5% 81.8%;
    --ring: 238.7 83.5% 66.7%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply w-screen;
  }
  .bg-cool-color {
    @apply bg-gradient-to-tl from-orange-500 dark:from-orange-300 via-fuchsia-500 dark:via-fuchsia-300 to-indigo-700 dark:to-indigo-600;
  }
}
